@charset "UTF-8";

:root {
    --fundo-baixo: #0123268f;
    --fundo-cima: #faffff86;
    --titulo: #01232633;
    --cor-4: #A69281;
    --cor-5: #F2EAE4;
    --letra-texto: #000;
    --font:'Times New Roman', Times, serif;

}

body {
    background-color: var(--fundo-baixo);
    color: var(--cor-6);
    font-size: 15pt;
    font-family: var(--font);
    text-align: left;
}

.container {
    margin-left: 300px;
    margin-right: 300px;

    background-color: var(--fundo-cima);
  
}


  h2 {
    color: var(--titulo);
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.Texto p {
    margin-left: 20px;

    color: var(--letra-texto)
}

a {
    background-color: #012326;
    color: var(--cor-4);
    text-decoration: none;
    margin-left: 50px;
    height: 1000px;


}

.Titulo {
    height: 100px;
}

.Texto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 2100px;
    gap: 10px;


}

.Topo {
    background-color: #012326;
    height: 50px;
    align-items: center;
   
}

.logo{
    display: grid;
   grid-template-columns: 100px 1fr; 
  background-color: #ffffff;
  
}
.nomelogo{
    color:var(--fundo-baixo);
    text-align: center;
    background-color: #ffffff;
    text-shadow: 2px 2px 2px  #b4b2b2;
}


footer{
    text-align: center;
    background-color: #012326 ;
}

.imagens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.imagens img{
    border-radius: 5%;
}

.imagens a{
    background-color: #00000000;
}
.lado1 {
    display: grid;

 
}
.imagemtexto1{
    display: grid;
    grid-template-columns:1fr 1fr;
   align-items: center;
  
    
}
.imagemtexto1 p{
    
    text-align: justify;
    font-size: 17px;
}
.paragrafo{
    margin: 0%;
}
.Topo a{
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo img{
    max-width: 600px;
    transform: translateY(0px);
    animation:float 4s ease-in-out infinite;

}
@keyframes float{

    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

.Topo hr{
    color: var(--cor-4);
}

  @media (max-width: 800px) {
    #logo > img{
        width: 80px;
    }
    #titulo > h1 {
        font-size: 30px;
    }
    header{
        grid-template-columns: 110px 1fr;
    }
    nav > a {
        font-size: px;
    }
}